<!DOCTYPE html>
<html>
	<head>
		<title>Frostdwarfgames</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_include_tag "manifest", "data-turbo-track": "reload" %>
	</head>	

	<body>
		<div class="header">
				
				<!-- Image -->
								
				<%= link_to "Home", root_path, class: "nav-item" %>
				<%= link_to "About", about_path, class: "nav-item" %>
				<%= link_to '"Employees"', employees_path, class: "nav-item" %>
				<%= link_to "Projects", projects_path, class: "nav-item" %>
				
				<!-- User stuff eventually -->
				
		</div>
		
		<div class="main">
				
				<div class="leftbar"><%= yield :leftbar %></div>
				
				<div class="rightbar"><%= yield :rightbar %></div>
				
				<div class="center">
						
						<div class="content"><%= yield %></div>
						
						<div class="footer"><p>&copy; No one. Do you think I have money, time, or the want to wait for a bureacracy to validate something?</p></div>
						
				</div>
				
		</div>
		
	</body>

</html>
