<!DOCTYPE html>
<html>
  <head>
    <title>Frostdwarfgames</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>	

  <body>
    <div class="header">
        
        <!-- Image | Navigation | User stuff eventually -->
        
    </div>
    
    <div class="main">
        
        <div class="leftbar"><%= yield :leftbar %></div>
        
        <div class="rightbar"><%= yield :rightbar %></div>
        
        <div class="center">
            
            <div class="content"><%= yield %></div>
            
            <div class="footer"><%= yield :footer %></div>
            
        </div>
        
    </div>
    
  </body>
</html>
