<div class="cardbox" id="cardbox_<%= name %>">
<%  i = 0
    list.each do |item| %>
    <%= link_to item, class: "card", id: "card_" + name + "_" + i.to_s do %>
        <%  if item.image? then %>
            <%= image_tag item.image, class: "cardimage" %>
        <%  end %>
        <%  if item.name? then %>
            <h3><%= item.name %></h3>
        <%  end %>
        <%  begin
                if item.blurb? then %>
                <span><%= item.blurb %></span>
                <% end %>
        <%  rescue ; end%>
    <%  end %>
<%  end %>
</div>